<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
    <h1>Edit product</h1>
    <a href="/edit-product">Create new product</a>
    <a href="/products">List Products</a>
    <th:block th:if="${ms}">
        <p th:text="${ms}"></p>
    </th:block>
    <form action="/edit-product" method="post" th:object="${productForm}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td>Name : </td>
                <td><input type="text" th:field="*{name}"></td>
                <td th:if="${#fields.hasErrors()}" th:errors="*{name}"></td>
            </tr>

            <tr>
                <td>Price : </td>
                <td><input type="text" th:field="*{price}"></td>
            </tr>
            <tr>
                <td>Amount : </td>
                <td><input type="text" th:field="*{amount}"></td>
            </tr>
            <tr>
                <td>Create date</td>
                <td><input type="date" th:field="*{createDate}"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" th:field="*{description}"></td>
            </tr>
            <tr>
                <td>Image</td>
                <td><img th:src="@{'/i/' + ${product.image}}"></td>
                <td><input type="file" th:field="*{image}" multiple></td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select th:field="*{category}">
                        <option th:each="c :${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" th:value="Update"></td>
            </tr>
        </table>
    </form>
</body>
</html>