<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit category</title>
</head>
<body>
    <h1>Edit category</h1>
    <a href="/categories">List Category</a>
    <th:block th:if="${ms}">
        <p th:text="${ms}"></p>
    </th:block>
    <form action="/edit-category" method="post" th:object="${category}">
        <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
                <td th:if="${#fields.hasErrors()}" th:errors="*{name}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Edit"></td>
            </tr>
        </table>
    </form>
</body>
</html>