<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Category</title>
</head>
<body>
    <h1 align="center">List Category</h1>
    <a href="/create-category" th:align="center">Create new category</a>
    <table border="1" align="center">
        <tr>
            <td>Name</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <th:block th:each="c : ${categories}">
            <tr>
                <td th:text="${c.name}"></td>
                <td><a th:href="@{/edit-category/__${c.getId()}__}">Edit</a></td>
                <td><a th:href="@{/delete-category/__${c.getId()}__}">Delete</a></td>
            </tr>
        </th:block>
    </table>
</body>
</html>